body {
    font-size: 16px;
    color: #fff;
    background-color:#61122f;
    font-family: 'Oxygen', sans-serif;
}
#header-nav {
    background-color: #f6b319;
}
#logo-img {
    background:url('/images/logo.jpg') no-repeat;
    width: 100px;
    height: 100px;
    
}
